/* Reset */
body,p {
    margin: unset;
}

h1, h2 {
    margin: unset;
    font-size: unset;
    font-weight: unset;
}

button {
    background-color: unset;
    border: unset;
}

ul {
    margin: unset;
    padding: unset;
    list-style: none;
}

/* Typography */
:root {
    font-family: 'montserrat';
}


/* Component */
body {
    background-color: #FFF5ED;
}

.l_wrapper {
    box-shadow: inset 0 0 10px red;
    max-width: 1080px;
    margin: 92px auto;
}

.header {
    box-shadow: inset 0 0 10px blue;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.header h1 {
    font-size: 40px;
    color: #F98173;
    flex-basis: 0;
    flex-grow: 1;
}

.header h1 strong {
    position: relative;
    z-index: 0;
}

.header h1 strong::after {
    content: '';
    background-color: white;
    display: block;
    width: 296px;
    height: 26px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.add_btn {
    font-family: 'montserrat';
    font-weight: bold;
    color: white;
    background-color: #ff4500;
    width: 208px;
    height: 48px;
    line-height: 48px;
    padding: 0 14px;
    border-radius: 4px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.1);
}

.contents {
    box-shadow: inset 0 0 10px green;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: none;
    gap: 30px;
}

.contents_list {
    background-color: white;
}

.list_img {
    width: 100%;
}

.list_img img {
    width: 100%;
    border-bottom: 4px solid #111111;
}

.list_main {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list_tag {
    display: flex;
    gap: 4px;
}

.list_tag li {
    font-size: 14px;
    font-weight: 600;
    height: 22px;
    line-height: 22px;
    padding: 0 12px;
    border-radius: 12px;
    color: #6230A2;
    background-color: #EBDBFF;
}

.list_title {
    color: #111111;
    font-size: 24px;
    font-weight: bold;
}

.list_text {
    color: #333333;
    font-size: 14px;
    line-height: 1.6;
}

.list_footer::before {
    content: '';
    display: block;
    width: 320px;
    height: 4px;
    background-color: #eeeeee;
    margin: 20px 0 20px 20px
}

.list_footer {
    color: #999999;
    font-size: 14px;
}

.footer_contents {
    margin-left: 22px;
    padding-bottom: 23px;
}