/* Reset */
body {
    margin: unset;
}

h1 {
    margin: unset;
    font-size: unset;
    font-weight: unset;
}

button {
    background-color: unset;
    border: unset;
}



/* Typography */
:root {
    font-family: 'montserrat';
}


/* Component */
body {
    background-color: #FFF5ED;
}

.l_wrapper {
    box-shadow: inset 0 0 10px red;
    max-width: 1080px;
    margin: 92px auto;
}

.header {
    box-shadow: inset 0 0 10px blue;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.header h1 {
    font-size: 40px;
    color: #F98173;
    flex-basis: 0;
    flex-grow: 1;
}

.header h1 strong {
    position: relative;
    z-index: 0;
}

.header h1 strong::after {
    content: '';
    background-color: white;
    display: block;
    width: 296px;
    height: 26px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.add_btn {
    font-family: 'montserrat';
    font-weight: bold;
    color: white;
    background-color: #ff4500;
    width: 208px;
    height: 48px;
    line-height: 48px;
    padding: 0 14px;
    border-radius: 4px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.1);
}

.content {
    box-shadow: inset 0 0 10px green;
}